<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="image-logo" src="../../assets/axiom-logo-main.png">
      </div>
      <div class="col header-content">
        <div class="form-center">
          <form class="form-inline">
            <input class="form-control form-control-sm mr-3" type="text" placeholder="SEARCH FOR GEAR">
            <img class="search" src="../../assets/search-icon.png">
          </form>
        </div>
        <div class="inline-block-child">
          <div><img class="fb-icon" src="../../assets/fb-icon.png"></div>
          <div><img src="../../assets/twitter-icon.png"></div>
          <div><p>My Account</p></div>
          <div><span>|</span></div>
          <div><p>Cart</p></div>
          <div><span>|</span></div>
          <div><p>Logout</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
