.footer {
  background-color: black;
  margin: 0 auto;
  width: 100%;
  font-family: 'Raleway';
  color: white;
  padding-top: 10px;
}

div.inline-block-child div {
  display: inline-block;
  padding: 7px;
}

.footer-items {
  font-size: 12px;
}

.twitter {
  img {
    padding-top: 10px;
  }
}


