<div class="d-flex justify-content-around footer">
  <div class="p-2 logo">
    <img src="../../assets/axiom-logo-small.png">
  </div>
  <div class=" p-2 footer-items">
    <div class="inline-block-child">
      <div><p>About Us</p></div>
      <div><span>|</span></div>
      <div><p>Contact Us</p></div>
      <div><span>|</span></div>
      <div><p>Privacy Policy</p></div>
      <div><span>|</span></div>
      <div><p>Terms of Service</p></div>
      <div><span>|</span></div>
      <div><p>Site Map</p></div>
      <div><img class="fb-icon" src="../../assets/fb-icon.png"></div>
      <div class="twitter"><img src="../../assets/twitter-icon.png"></div>
    </div>
  </div>
</div>
