<nav class="navbar navbar-expand-sm">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="nav justify-content-center">
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Camping<li class="fas fa-angle-down"></li></a>
        <div class="dropdown-menu dropdown-primary animate slideIn" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Outerwear</a>
          <hr>
          <a class="dropdown-item" href="#">Hiking Shoes/Boots</a>
          <hr>
          <a class="dropdown-item" href="#">Gloves</a>
          <hr>
          <a class="dropdown-item" href="#">Hats</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Clothing<li class="fas fa-angle-down"></li></a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Outerwear</a>
          <hr>
          <a class="dropdown-item" href="#">Hiking Shoes/Boots</a>
          <hr>
          <a class="dropdown-item" href="#">Gloves</a>
          <hr>
          <a class="dropdown-item" href="#">Hats</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Fishing<li class="fas fa-angle-down"></li></a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Outerwear</a>
          <hr>
          <a class="dropdown-item" href="#">Hiking Shoes/Boots</a>
          <hr>
          <a class="dropdown-item" href="#">Gloves</a>
          <hr>
          <a class="dropdown-item" href="#">Hats</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Hiking<li class="fas fa-angle-down"></li></a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Outerwear</a>
          <hr>
          <a class="dropdown-item" href="#">Hiking Shoes/Boots</a>
          <hr>
          <a class="dropdown-item" href="#">Gloves</a>
          <hr>
          <a class="dropdown-item" href="#">Hats</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Biking<li class="fas fa-angle-down"></li></a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Outerwear</a>
          <hr>
          <a class="dropdown-item" href="#">Hiking Shoes/Boots</a>
          <hr>
          <a class="dropdown-item" href="#">Gloves</a>
          <hr>
          <a class="dropdown-item" href="#">Hats</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

