<div class="content">
  <div class="container">
    <div class="row">
      <div class="item-photo col col-md-6 col-sm-12">
        <img src="../../../../assets/tough-mojo-jacket-img2.png">
      </div>
      <div class="col item-description">
        <p>
          Our most insulated jacked to date. The city-styled Highline
          is designed to keep you warm during the deep freeze of winter.
        </p>
        <br>
        <p>
          With 300 grams of PrimaLoft<span>&reg;</span> ONE insulation, the Highline
          offers incredible heat retention while remaining form fitting and low volume-essentially
          all the warmth of a puffer jacket without all the puff. Its outer shell is made from a
          water-resistant Schoeller<span>&reg;</span> microfiber fabric that has been diagonally quilted,
          while its inside liner is made from a silky-soft microfiber ripstop nylon.
        </p>
        <br>
        <p>
          The Highline features a zipper garage to prevent a cold metal zipper from pressing against your
          neck, non-quilted side panels and underarms for a sleeker fit, and anchored bottom-hem adjusters
          for a snug fit. It has two uniquely designed 3-in-1 front pockets, Which include a top-zippered
          entrance, a drop pocket with donut snap, and a side hand-warmer. Additional storage can be found
          in its exterior chest pocket and two interior zippered pockets.
        </p>
      </div>
    </div>
  </div>
</div>
